<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home-Page</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <% if (locals.blogsData && locals.blogsData.length) { %>
        <div class="d-flex flex-wrap justify-content-center">
            <% locals.blogsData.forEach(blog => { %>
                <div class="card m-4" style="width: 18rem;">
                    <img src="<%= blog.coverImageUrl %>" class="card-img-top" height="200px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <p class="card-text"><%= blog.description %></p>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">Go for Details</a>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p class="text-center mt-5">No Blogs Here</p>
    <% } %>

    <%- include('./partials/script') %>
</body>
</html>